---
import PageLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import astro from "../assets/max.png";
---

<PageLayout meta={{ title: "Home" }}>
  <div class="flex w-full flex-col gap-y-10">
    <section class="flex flex-col items-center gap-y-7">
      <Image src={astro} alt="profile photo" class="h-80 w-auto p-2 -m-6" loading="eager" />

      <div class="flex flex-col items-center gap-y-4">
        <h1 class="text-3xl font-bold">Max Shapira</h1>
      </div>
    </section>

    <div class="leading-extra-relaxed prose prose-base mx-auto max-w-2.5xl text-muted-foreground">
      <p>
        Early-bird Python developer who starts his day with a piping hot coffee and a good
        nonfiction book. I'm all about self-improvement, so I try to squeeze in some coding practice
        and a workout before my two little ones wake up and take over the house. Speaking of which,
        if you need any tips on coding with toddlers, hit me up - I've become a master at typing
        with one hand while holding a baby in the other.
      </p>

      <div class="fixed bottom-0 right-0 mb-4 mr-4">
        <button
          id="open-chat"
          class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300 flex items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
          </svg>
          Chat with GuruAI
        </button>
      </div>
      <div id="chat-container" class="hidden fixed bottom-16 right-4 w-410 mb-2">
        <div class="bg-black rounded-lg max-w-2.5xl w-full border-2 border-gray-700 shadow-md">
          <button
            id="close-chat"
            class="ml-3 mt-2 text-gray-300 hover:text-gray-400 focus:outline-none focus:text-gray-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>

          <iframe
            class="shadow-md rounded-lg max-w-2.5xl w-full border-none h-550"
            src="https://couponguru.streamlit.app/?embedded=true"></iframe>
        </div>
      </div>

      <div class="mb-4 mt-16"><span>Find me on</span></div>
      <!-- Github -->
      <a
        class="inline-block text-muted-foreground transition-all hover:text-muted-foreground/75 no-underline"
        href="https://github.com/xshapira/"
        target="_blank"
      >
        <svg
          class="inline-flex items-center h-6 w-6 flex-shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
          slot="icon"
          ><path
            fill="currentColor"
            d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"
          ></path></svg
        >
        <span class="-ml-1">Github</span>
      </a>

      <!-- Linkedin -->
      <a
        class="inline-block text-muted-foreground transition-all hover:text-muted-foreground/75 no-underline"
        href="https://linkedin.com/in/maxshapira/"
        target="_blank"
      >
        <svg
          class="inline-flex items-center h-6 w-6 flex-shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
          ><path
            fill="currentColor"
            d="M216,24H40A16,16,0,0,0,24,40V216a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V40A16,16,0,0,0,216,24Zm0,192H40V40H216V216ZM96,112v64a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0Zm88,28v36a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.79-1.78A36,36,0,0,1,184,140ZM100,84A12,12,0,1,1,88,72,12,12,0,0,1,100,84Z"
          ></path></svg
        >
        <span class="-ml-1">Linkedin</span>
      </a>

      <!-- YouTube -->
      <a
        class="inline-block text-muted-foreground transition-all hover:text-muted-foreground/75 no-underline"
        href="https://www.youtube.com/@maxshapira2real"
        target="_blank"
      >
        <svg
          class="inline-flex items-center h-6 w-6 flex-shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
          ><path
            fill="currentColor"
            d="M164.44,121.34l-48-32A8,8,0,0,0,104,96v64a8,8,0,0,0,12.44,6.66l48-32a8,8,0,0,0,0-13.32ZM120,145.05V111l25.58,17ZM234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-15.49,113a8,8,0,0,1-4.77,5.49c-31.65,12.22-85.48,12-86,12H128c-.54,0-54.33.2-86-12a8,8,0,0,1-4.77-5.49C34.8,173.39,32,156.57,32,128s2.8-45.39,5.16-54.47A8,8,0,0,1,41.93,68c30.52-11.79,81.66-12,85.85-12h.27c.54,0,54.38-.18,86,12a8,8,0,0,1,4.77,5.49C221.2,82.61,224,99.43,224,128S221.2,173.39,218.84,182.47Z"
          ></path></svg
        >
        <span class="-ml-1">YouTube</span>
      </a>
      <div class="mt-4">
        Or email me at
        <a
          class="text-muted-foreground transition-all hover:text-muted-foreground/75"
          href="mailto:m@xshapira.com"
          target="_blank"
        >
          <span>m@xshapira.com</span>
        </a>
      </div>
    </div>
  </div>

  <script>
    const chatContainer = document.getElementById("chat-container");
    const openChatButton = document.getElementById("open-chat");
    const closeChatButton = document.getElementById("close-chat");

    let isChatboxOpen = true; // Set the initial state to open

    // Function to toggle the chatbox visibility
    function toggleChatbox() {
      if (chatContainer) {
        chatContainer.classList.toggle("hidden");
        isChatboxOpen = !isChatboxOpen; // Toggle the state
      }
    }

    // Add an event listener to the open chat button
    if (openChatButton) {
      openChatButton.addEventListener("click", toggleChatbox);
    }

    // Add an event listener to the close chat button
    if (closeChatButton) {
      closeChatButton.addEventListener("click", toggleChatbox);
    }

    // Automatically open the chatbox on page load
    // toggleChatbox();
  </script>
</PageLayout>
